/* INTRO ANIMATION */

.stop-scrolling {
  position: fixed;
}

/* .landing {
  color: white;
  min-height: 100vh;
  background: url(./images/intro.png);
  background-size: cover;
  padding: 0rem 5rem;
} */



.landing {
  background-image: url(./images/intro.png);
  background-size: cover;
  background-position: center;
  color: white;
  min-height: 100vh;
  background-size: cover;
  padding: 0rem 5rem;
}

@supports (filter: brightness(4)) and (mix-blend-mode: color) {
  .landing {
    position: relative;
  }
  .landing:before, .landing:after {
    display: block;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: inherit;
    background-color: brown;
    background-blend-mode: screen;
    mix-blend-mode: color;
    filter: brightness(4);
  }
} 

/* ALT LANDING IMG */

/* .landing {
  color: white;
  min-height: 100vh;
  padding: 0rem 5rem;
  background-image: url(./images/intro.png);
  background-size: cover;
  background-position: center;
}

@supports (transform: scaleX(-1)) {
  .landing {
    position: relative;
  }
  .landing:before, .landing:after {
    display: block;
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    background: inherit;
  }
  .landing:before {
    left: 0;
    right: 50%;
    transform: scaleX(-1);
  }
  .landing:after {
    left: 50%;
    right: 0;
  }
}

*/


nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 10vh;
}

.nav-links {
  display: flex;
}

.nav-links li {
  padding-left: 10rem;
  font-size: 1.2rem;
}

#logo {
  font-weight: bolder;
  font-size: 2rem;
}

.main-text {
  position: absolute;
  top: 30%;
  left: 25%;
  transform: translate(-50%, 30%);
  font-size: 5rem;
  color: #c1b206;
}



.intro {
  background: black;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider {
  background: #24361b;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
}
.intro-text {
  color: #c1b206;
  font-size: 3rem;
  line-height: 5rem;
}

.hide {
  background: black;
  overflow: hidden; /* hides all the h1s at the start */
}

.hide span {
  transform: translateY(100%);
  display: inline-block;
}

/* Responsive NAV PART */

nav ul {
  background-color: #fcfefd;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 6vh;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  width: 100%;
}

#home,
#about,
#projects,
#contact {
  font-size: 3rem;
  height: 98vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

#home {
  background-color: #3f1401;
}

#about {
  background-color: #2b2707;
}

#projects {
  background-color: #384754;
}

#contact {
  background-color: #ffff;
}

nav a {
  text-decoration: none;
  font-size: 1.5rem;
  color: black;
  position: relative;
  border-bottom: none;
}

nav a::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  border-bottom: 3px solid goldenrod;
  top: 0;
  left: 0;
  transform: translateX(-100%);
  transition: transform 0.5s ease;
}

nav li {
  overflow: hidden;
  height: 2rem;
}

/* when an anchor tag gets class "active", the after tag gets translated back to 0 */
a.active::after {
  transform: translateX(0%);
}

/* START NORMAL */

#projects {
  display: flex;
}

#projects h1 {
  position: absolute;
}

#project_block {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr 1fr;
  gap: 5rem 1rem;
}

.project-tile {
  justify-self: center;
  align-self: center;
  font-size: 2rem;
  margin-right: 1rem;
  will-change: transform;
  transition: transform 450ms;
}

.project-tile:hover {
  transition: transform 125ms;
  transform: translateY(-10px);
}


.project-tile a {
  text-decoration: none;
  color: white;
  opacity: 1;
  transition: 0.7s ease;
}

.project_preview {
  height: 15rem;
  width: 20rem;
  margin-top: 2rem;
}




/* CONTACT */
#contact {
  display: flex;

}

#contact h1 {
  color: black;
  position: absolute;
}

#contact-logos {
  height: 100%;
  width: 100%;
  display: flex;
  justify-self: center;
  align-items: center;
}

.contact-logo {
  height: 10rem;
  width: 10rem;
}
