/* INTRO ANIMATION */

.stop-scrolling {
  position: fixed;
}

.landing {
  background-image: url(./images/intro.jpeg);
  background-size: cover;
  background-position: center;
  color: #fcfefd;
  min-height: 100vh;
  background-size: cover;
  padding: 0rem 5rem;
}

@supports (filter: brightness(4)) and (mix-blend-mode: color) {
  .landing {
    position: relative;
  }
  .landing:before,
  .landing:after {
    display: block;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: inherit;
    background-color: darkgoldenrod;
    background-blend-mode: screen;
    mix-blend-mode: color;
    filter: brightness(2);
  }
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 10vh;
}

.nav-links {
  display: flex;
}

.nav-links li {
  padding-left: 10rem;
  font-size: 1.2rem;
}

#logo {
  font-weight: bolder;
  font-size: 2rem;
}

.main-text {
  position: absolute;
  top: 30%;
  left: 25%;
  transform: translate(-50%, 30%);
  font-size: 5rem;
}

.intro {
  background: black;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider {
  background: #232300;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  will-change: transform;
  transform: translateY(100%);
}
.intro-text {
  color: #f4f3ee;
  font-size: 3rem;
  line-height: 5rem;
}

.hide {
  background: black;
  overflow: hidden; /* hides all the h1s at the start */
}

.hide span {
  will-change: transform;
  transform: translateY(100%);
  display: inline-block;
}

/* Responsive NAV PART */

nav ul {
  background-color: #fcfefd;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 6vh;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  width: 100%;
}

#road,
#about,
#projects,
#contact {
  font-size: 3rem;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fcfefd;
}

#road {
  background: #4c4c09; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #181818,
    #232300 /* #4c4c09 */
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #181818,
    #232300 /* #4c4c09 */
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border-bottom: dotted 2px #f4f3ee;
}

#about {
  background: #181818; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #181818,
    #3c3b3f
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #3c3b3f,
    #181818
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  border-bottom: dotted 2px #f4f3ee;
}

#projects {
  background: #384754; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #181818,
    #3c3b3f
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #384754,
    #3c3b3f
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border-bottom: dotted 2px #f4f3ee;
}

#contact {
  background: #f4f3ee; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #f4f3ee,
    #181818
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #f4f3ee,
    #384754
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-color: #ffff;
}

nav a {
  text-decoration: none;
  font-size: 1.5rem;
  color: black;
  position: relative;
  border-bottom: none;
}

nav a::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  border-bottom: 3px solid goldenrod;
  top: 0;
  left: 0;
  transform: translateX(-100%);
  will-change: transform;
  transition: transform 0.5s ease;
}

nav li {
  overflow: hidden;
  height: 2rem;
}

a.active::after {
  will-change: transform;
  transform: translateX(0%);
}

/* START NORMAL */

#projects {
  display: flex;
}

#projects h1 {
  position: absolute;
}

#project_block {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr 1fr;
  gap: 5rem 1rem;
  margin-top: 2rem;
}

.project-tile {
  justify-self: center;
  align-self: center;
  font-size: 2rem;
  margin-right: 1rem;
  will-change: transform;
  transition: transform 450ms;
}

.project-tile:hover {
  will-change: transform;
  transition: transform 125ms;
  transform: translateY(-10px);
}

.project-tile a {
  text-decoration: none;
  color: #fcfefd;
  opacity: 1;
  transition: 0.7s ease;
}

.project_preview {
  height: 15rem;
  width: 20rem;
  margin-top: 2rem;
}

/* CONTACT */
#contact {
  display: flex;
}

#contact h1 {
  color: #fcfefd;
  position: absolute;
  transform: translateY(-15rem);
}

#contact-logos {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.contact-logo {
  height: 10rem;
  width: 10rem;
  will-change: transform;
  transition: transform 450ms;
}

.contact-logo:hover {
  will-change: transform;
  transition: transform 125ms;
  transform: translateY(-10px);
}

/* ABOUT */

#road h1 {
  position: absolute;
}

#personal {
  margin: 1.5rem 1.5rem 0 0;
  line-height: 1.5;
}

.left-side {
  height: 97%;
  width: 50%;
  position: absolute;
  left: 0;
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}

.left-side img {
  height: 15rem;
  width: 15rem;
  border-radius: 50%;
  margin: 3rem 0 2rem 1.5rem;
  box-shadow: 10px 1px 10px 1px #fcfefd;
}

.left-side h2,
h3,
h4 {
  margin: 1rem 0 0 2rem;
}

/* DEV ROAD */

#road h1 {
  position: absolute;
}

#current-road {
  margin-top: 2rem;
}
#current-road p {
  font-size: 1.3rem;
  line-height: 1.8;
  max-width: 50rem;
  margin: 1rem 0 0 2rem;
}

.right-side {
  height: 97%;
  width: 50%;
  position: absolute;
  right: 0;
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}

#skills {
  display: flex;
  flex-direction: column;
  align-items: end;
  margin: 2rem 1.5rem 2rem 0;
}

.right-side h4 {
  font-size: 4rem;
  margin-bottom: 1rem;
}

.right-side ul {
  text-align: end;
  line-height: 3rem;
  margin-bottom: 3rem;
}

.right-side li {
  font-size: 1.5rem;
}

main li::marker {
  content: "»";
  font-size: 2rem;
}

main li {
  padding-inline-start: 1ch;
}

#pets {
  width: 25rem;
  height: 20rem;
  border-top-left-radius: 30%;
  border-bottom-right-radius: 30%;
  border-bottom-left-radius: 2%;
  border-top-right-radius: 2%;
  box-shadow: 1px 1px 10px 1px #fff;
}

#about p {
  font-size: 1rem;
  transform: rotate(-90deg) translateX(39rem) translateY(-1rem);
}

#favourite li::marker {
  content: "";
}

.filter-contact {
  filter: invert(97%) sepia(100%) saturate(13%) hue-rotate(211deg)
    brightness(103%) contrast(105%);
}

/* media queries */

@media (max-width: 1400px) {
  #current-road p {
    font-size: 1.2rem;
  }

  #skills ul {
    line-height: 2rem;
  }
  #skills li {
    font-size: 1.3rem;
  }

  #skills h4 {
    font-size: 1.4rem;
  }

  #about p {
    transform: rotate(-90deg) translateX(25rem) translateY(11rem);
  }

  #projects h3 {
    font-size: 1.3rem;
  }

  #projects img {
    height: 12rem;
    width: 17rem;
    margin-top: 1rem;
  }
}

@media (max-width: 1028px) {
  #about p {
    display: none;
  }
}

@media (max-width: 800px) {
  #current-road p {
    font-size: 0.9rem;
  }

  #about ul {
    line-height: 3rem;
  }
  #about li {
    font-size: 1.3rem;
  }

  #about h4 {
    font-size: 1.4rem;
  }

  #pets {
    width: 20rem;
    height: 15rem;
  }

  #projects h3 {
    font-size: 1.3rem;
  }

  #projects img {
    height: 8rem;
    width: 13rem;
    margin-top: 1rem;
  }

  #project_block {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0rem 0rem;
    margin-top: 0rem;
  }
}

@media (max-width: 360px) {
  nav a {
    font-size: 1rem;
  }

  .main-text {
    transform: translate(-25%, 30%);
  }

  #current-road h4 {
    font-size: 1.2rem;
    margin: 1rem 0 0 0.5rem;
  }
  #current-road p {
    font-size: 0.5rem;
    line-height: 1rem;
    margin: 1rem 0 0 0.5rem;
  }

  #skills {
    margin: 2rem 0.5rem 1.5rem 0;
  }

  #skills ul {
    line-height: 2rem;
  }
  #skills li {
    font-size: 1rem;
  }

  #skills h4 {
    font-size: 1.2rem;
  }

  #about img {
    width: 10rem;
    height: 10rem;
    margin: 2rem 0 1.5rem 0.5rem;
  }

  .left-side h2,
  h3,
  h4 {
    margin: 1rem 0 0 0.5rem;
  }

  #about ul {
    line-height: 2rem;
  }
  #about li {
    font-size: 1rem;
  }

  #about h2 {
    font-size: 1.8rem;
  }
  #about h3 {
    font-size: 1.4rem;
  }

  #about h4 {
    font-size: 1.2rem;
  }

  #pets {
    width: 15rem;
    height: 10rem;
  }

  #projects h3 {
    font-size: 1rem;
  }

  #projects img {
    height: 4rem;
    width: 10rem;
  }

  #project_block {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0rem 0rem;
    margin-top: 0rem;
  }

  .project-tile {
    margin-right: 0;
  }
}
